# Eclipse settings
.project
.classpath
.settings/

# Maven build directory
/target/

# Eclipse build directory
/bin/

# teamProject
/src/main/java/classes/teamProject/

# OS-specific files
/.vscode/
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
