# ======================================
# Maven
# ======================================
/target/
!.mvn/wrapper/maven-wrapper.jar
/src/main/java/classes/teamProject/

# ======================================
# IntelliJ IDEA
# ======================================
.idea/
*.iws
*.iml
*.ipr

# ======================================
# Eclipse
# ======================================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ======================================
# NetBeans
# ======================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ======================================
# Visual Studio Code
# ======================================
.vscode/

# ======================================
# macOS / Windows
# ======================================
.DS_Store
Thumbs.db
